.custom-width {
  width: 400px;
  height: 50px;
  border-radius: 30px;
  padding-left: 30px;
}

.image {
  width: 100px;
  height: 200px;
}

.search {
  position: fixed;
  text-align: center;
}

.container {
  margin-top: 80px;
}

.main-scroll-container {
  height: calc(100vh - 80px);
  overflow-y: auto;
  padding: 1rem;
}

::ng-deep .p-confirm-dialog {
  width: 500px !important;
}

/* PHONE view */
@media screen and (max-width: 576px) {
  ::ng-deep .p-confirm-dialog {
    width: 350px !important; /* smaller dialog */
    max-width: 90vw !important;
  }

  ::ng-deep .p-confirm-dialog .p-dialog-content {
    padding: 0.8rem !important;
  }
}

/* Use PrimeFlex naming convention if you want */
.placeholder-small::placeholder {
  font-size: 0.75rem; /* matches text-xs */
  color: #666; /* optional, lighter placeholder */
}
