<div class="content ml-4">
  <h2>Payment</h2>
</div>
<div class="card flex justify-content-start ml-4">
  <div class="flex flex-column gap-3">
    <div *ngFor="let category of categories" class="field-checkbox">
      <p-radioButton
        [inputId]="category.key"
        name="category"
        [value]="category"
        [(ngModel)]="selectedCategory"
      />
      <label [for]="category.key" class="ml-2">
        {{ category.name }}
      </label>
    </div>
  </div>
</div>
<div
  *ngIf="selectedCategory?.name == 'Credit Card'"
  class="card ml-4 mt-4 p-4 w-full max-w-md"
>
  <h3>Card Details</h3>
  <div class="flex flex-column gap-3">
    <div>
      <label for="cardNumber">Card Number</label>
      <input
        pInputText
        id="cardNumber"
        type="text"
        formControlName="cardNumber"
        class="w-full mr-4"
      />
    </div>
    <div class="flex gap-2">
      <div class="flex-1">
        <label for="expiry">Expiry MM/YY</label>
        <input
          pInputText
          id="expiry"
          type="text"
          formControlName="expiry"
          class="w-full"
        />
      </div>
      <div class="flex-1">
        <label for="cvv">CVV</label>
        <input
          pInputText
          id="cvv"
          type="text"
          formControlName="cvv"
          class="w-full"
        />
      </div>
    </div>
  </div>
</div>

<div *ngIf="selectedCategory?.name == 'Paypal'" class="ml-4 mt-4">
  <p-button
    label="Pay with PayPal"
    icon="pi pi-paypal"
    severity="secondary"
  ></p-button>
</div>
<div *ngIf="selectedCategory?.name === 'Cash on delivery'" class="ml-4 mt-4">
  <p>Pay with cash when your order is delivered.</p>
</div>

<div class="m-4 p-2">
  <p-button
    label="Review Your Order"
    [outlined]="true"
    severity="success"
    (click)="goToReview()"
    [disabled]="!selectedCategory"
  >
  </p-button>
</div>



