<div class="bg-red-500">
  <div class="flex justify-content-between align-items-center">
    <i class="pi pi-bars ml-3 text-white" (click)="toggleSidebar()"></i>
    <div class="flex gap-4 mt-4">
      <a (click)="gotoAbout()" class="text">About us</a>
      <a class="text">Contact us</a>
    </div>
    <h1 class="text">Food Shopping</h1>

    <div class="flex align-items-center gap-2 mr-2">
      <label class="text">Light</label>
      <p-inputSwitch class="mr-2 mt-2" (click)="toggle()" />
      <label class="text">Dark</label>
      <p-avatar
        class="custom-avatar"
        shape="circle"
        icon="pi pi-user"
      ></p-avatar>
    </div>
  </div>
</div>
