<div class="header" [formGroup]="shippingForm">
  <h3>Shipping</h3>
  <div class="formgrid grid">
    <div class="field col-6 md:col-6">
      <label for="firstname6">Firstname</label>
      <input
        id="firstname6"
        type="text"
        pInputText
        formControlName="firstname"
        class="w-full"
      />
      <small
        *ngIf="
          shippingForm.get('firstname')?.invalid &&
          shippingForm.get('firstname')?.touched
        "
        class="p-error"
      >
        Firstname is required.
      </small>
    </div>

    <div class="field col-6 md:col-6">
      <label for="lastname6">Lastname</label>
      <input
        id="lastname6"
        type="text"
        pInputText
        formControlName="lastname"
        class="w-full"
      />
      <small
        *ngIf="
          shippingForm.get('lastname')?.invalid &&
          shippingForm.get('lastname')?.touched
        "
        class="p-error"
      >
        Lastname is required.
      </small>
    </div>

    <div class="field col-6">
      <label for="address">Address</label>
      <textarea
        id="address"
        pInputTextarea
        rows="4"
        formControlName="address"
        class="w-full"
      ></textarea>
      <small
        *ngIf="
          shippingForm.get('address')?.invalid &&
          shippingForm.get('address')?.touched
        "
        class="p-error"
      >
        Address is required.
      </small>
    </div>

    <div class="field col-6 md:col-6">
      <label for="city">City</label>
      <input
        id="city"
        type="text"
        pInputText
        formControlName="city"
        class="w-full"
      />
      <small
        *ngIf="
          shippingForm.get('city')?.invalid && shippingForm.get('city')?.touched
        "
        class="p-error"
      >
        City is required.
      </small>
    </div>
  </div>
</div>
<div class="ml-4">
  <p-button
    label="Continue Payment"
    [outlined]="true"
    severity="success"
    (click)="goToPayment()"
    [disabled]="shippingForm.invalid"
  >
  </p-button>
</div>
