<div class="flex justify-content-center mt-8 md:mt-16 lg:mt-24">
  <div class="w-full max-w-md p-4">
    <h3>Review Your Order</h3>

    <p>Total Items: {{ cartItems().length }}</p>

    <p>
      Shipping To:
      {{ shippingForm().firstname }} {{ shippingForm().lastname }},
      {{ shippingForm().address }}, {{ shippingForm().city }}
    </p>

    <div class="btn-section mt-4 flex justify-content-start sm:justify-content-center">
      <p-toast></p-toast>
      <p-confirmDialog></p-confirmDialog>

      <p-button
        (onClick)="confirm1($event)"
        label="Confirm Order"
        [outlined]="true"
      ></p-button>
    </div>
  </div>
</div>
