<p>review-order works!</p>
<div class="card ml-4 mt-4 p-4 w-full max-w-md">
  <h3>Review Your Order</h3>
  <p>Total Items: {{ cartItems().length }}</p>
  <p>Total Price:{{ totalPrice() }}</p>
  <p>
    Shipping To: {{ shippingForm().firstname }} {{ shippingForm().lastname }},
    {{ shippingForm().address }}, {{ shippingForm().city }}
  </p>

  <div class="flex justify-content-start mt-4">
    <p-button
      label="Confirm & Pay"
      severity="success"
      (click)="confirmOrder()"
    />
  </div>
</div>
