<div class="flex justify-content-center">
  <h1>About Us</h1>
</div>

<div class="flex m-5 p-4 border-1">
  <div class="flex-initial flex align-items-center justify-content-center">
    <img src="assets/shop.jpg" alt="Image" width="500px" />
  </div>
  <div class="content ml-5 align-items-center">
    <h2>Our Story</h2>
    <p>
      To provide fresh, healthy, and affordable food options to our community.
      From humble beginnings, we have grown into a trusted food store, offering
      a carefully curated selection of products that cater to every taste and
      dietary need. What We Offer Fresh Produce: Seasonal fruits and vegetables,
      sourced from local farms. Organic & Healthy Choices: A wide range of
      organic, gluten-free, and vegan options. International Flavors: Spices,
      sauces, and ingredients from around the world. Bakery & Dairy: Freshly
      baked bread, pastries, and dairy products. Ready-to-Eat Meals: Delicious,
      homemade-style meals for your convenience.
    </p>
  </div>
</div>
<div class="flex justify-content-center">
  <p-button label="Go Back" severity="success" (click)="goToHeader()" />
</div>
