<div class="flex align-items-center justify-content-center mt-5">
  <p-card [style]="{ width: '360px', height: '300px' }">
    <div class="flex flex-column gap-3">
      <div class="flex align-items-center justify-content-center">
        <p-floatLabel>
          <input pInputText id="username" [(ngModel)]="value" />
          <label for="username">Username</label>
        </p-floatLabel>
      </div>
      <div class="flex align-items-center justify-content-center">
        <p-floatLabel>
          <input pInputText id="username" [(ngModel)]="value" />
          <label for="username">Password</label>
        </p-floatLabel>
      </div>
      <div class="flex align-items-center justify-content-center">
        <p-button label="Log In" (click)="logIn()" />
      </div>
    </div>
  </p-card>
</div>
