<div class="flex justify-content-center mt-16">
  <p-card class="w-30rem">

    <h2 class="text-center mb-4">Contact Us</h2>

    <div class="grid">

      <div class="col-6 text-right font-semibold">
        Phone:
      </div>
      <div class="col-6 flex align-items-center gap-2">
        <i class="pi pi-phone text-green-600"></i>
        <span>093333333333</span>
      </div>

      <div class="col-6 text-right font-semibold mt-3">
        Email:
      </div>
      <div class="col-6 flex align-items-center gap-2 mt-3">
        <i class="pi pi-envelope text-blue-600"></i>
        <span>Shopgmail.com</span>
      </div>

    </div>

  </p-card>
</div>

<div class="flex justify-content-center mt-4">
  <p-button label="Go Back" severity="success" (click)="goToHeader()" />
</div>
