<div class="flex justify-content-center mt-20">
  <p-card class="contact-card">
    <h2 class="text-center">Contact Us</h2>
    <div class="flex align-items-center gap-3">
      <i class="pi pi-phone"></i>
      <span>093333333333</span>
    </div>
    <div class="flex align-items-center gap-3">
      <i class="pi pi-envelope"></i>
      <span>Foodshopgmail.com</span>
    </div>
  </p-card>
</div>
<div class="flex justify-content-center m-5">
  <p-button label="Go Back" severity="success" (click)="goToHeader()" />
</div>
