.contact-card {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top:100px;
}
/* .card{
  display: flex;
  justify-content: center;
  margin-top:30px;
} */